.title{
    text-align: center;
    color: blue;
    
}
.image{
    width: 300px;
    justify-content: space-between;
     display: flex;
     flex-direction: column;
     margin-left: 35%;
     margin-bottom: 5%;
   

}

